<div class="container whitebox">
	<span class="border-0">
		<p>Survey: <%= @survey.name %></p>
		<p>Question: <%= @question.question_name %></p>
  		<div class="form-group">
			<%= form_for :question, :url => { :action => "update" }, :method => :PUT do |f| %>
			<%= f.text_field :question_name, :value => @question.question_name%>
		</div>
		<div class="center"></div>
			<%= f.submit "Confirm Edit", :class => "btn btn-primary" %>
		</div>
		<% end %>
	</span>
</div>

