<p>Survey: <%= @survey.name %></p>
<p>Question: <%= @question.question_name %> <a href="/surveys/<%= @survey.id  %>/questions/<%= @question.id %>/edit">edit | <%= link_to "delete question", survey_question_url(@survey, @question), method: :delete  %></p></a>
</p> 
<% if @question.answers %>
<% alpha = [*?A..?Z] %>
	<% @question.answers.each_with_index do |each_answer, index| %>
		<p> <%=  alpha[index]%>) <%= each_answer.answer_name %> 
		<a href="/questions/<%= @question.id  %>/answers/<%= each_answer.id %>/edit">edit</a> |
		<%= link_to "delete answer", question_answer_url(@question, each_answer), method: :delete  %></p>

		  
	<% end %>
<% end %>
<p> <%= link_to "add answer", new_question_answer_path(@question) %></p>	
<p> <%= link_to "complete question",  survey_path(@survey)%> </p>

