<p>Survey: <%= @survey.name %></p>
<p>Question: <%= @question.question_name %></p>
	
	<h1>Edit the Item</h1>

  <%= form_for :answer, :url => { :action => "update"}, :method => :PUT do |f| %>
  <%= f.text_field :answer_name, :value => @answer.answer_name, :autofocus=>true%>
  <%= f.submit "Confirm Edit" %>
  <% end %>
