
<p>Survey: <%= @survey.name %></p>
	<% if @questions %>
		<% @questions.each do |each_question| %>
			 <a href="/surveys/<%= @survey.id  %>/questions/<%= each_question.id %>/edit">edit</a> 
			<p><%= each_question.question_name %></p>
			<% if each_question.answers %>
				<% each_question.answers.each do |each_answer| %>
					<p> <%= each_answer.answer_name %> </p>
				<% end %>
			<% end %>
		<% end %>
		<br>

	<% end %>

	<%= link_to "Add question", new_survey_question_path(@survey)  %>

